@import "tailwindcss";

:root {
  /* COLOR PALETTE */
  --background: #111011;
  --foreground: #111011;

  /* TYPOGRAPHY */
  --font-size-h1: 15.6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 8rem;
  --font-size-h4: 2.3rem;
  --font-size-h5: 1.6rem;
  --font-size-h6: 15.6rem;
  --font-size-p: 1.6rem;

  /* OTHERS */
  --cursor: url("../public/cursor_16.png") 0 0, auto !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111011;
    --foreground: #111011;
  }
}

/* DEFAULT SETTINGS FOR ALL ELEMENTS */
*,
*::before,
*::after {
  /* margin: 0;
  padding: 0; */
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  cursor: var(--cursor);
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  cursor: var(--cursor);
}

body {
  background: var(--background);
}

a,
button,
input,
select,
textarea,
[role="button"],
[role="option"],
[role="link"],
[tabindex],
ul,
ol,
li,
label,
fieldset {
  /* background: none;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: none;
  text-align: inherit;
  color: inherit; */
  cursor: var(--cursor);
}

ul,
ol,
li {
  list-style-type: none;
}

img[src=""],
img:not([src]) {
  /* TODO: add a real fallback img path */
  background-image: url("/fallback-avatar.png");
  background-size: cover;
  background-position: center;
}

/* HOVER CLASSES RENDERED ONLY FOR DEVICES CAPABLE OF SUPPORTING IT */
@media (hover: hover) and (pointer: fine) {
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* CUSTOM TAILWIND UTILITIES CLASSES */
@layer utilities {
  .text-h1 {
    font-size: var(--font-size-h1);
    font-weight: 450;
    line-height: 86%;
    letter-spacing: 0;
  }

  .text-h3 {
    font-size: var(--font-size-h3);
    font-weight: 450;
    line-height: 92%;
    letter-spacing: 0;
  }

  .text-h3-bold {
    font-size: var(--font-size-h3);
    font-weight: bold;
    line-height: 92%;
    letter-spacing: 0;
  }

  .text-h5 {
    font-size: var(--font-size-h5);
    font-weight: 450;
    line-height: var(--font-size-h5);
    letter-spacing: 0;
  }

  .text-h5-bold {
    font-size: var(--font-size-h5);
    font-weight: bold;
    line-height: var(--font-size-h5);
    letter-spacing: 0;
  }

  .text-h6 {
    font-size: var(--font-size-h6);
    font-weight: 450;
    line-height: 86%;
    letter-spacing: 0;
  }

  .text-h6-bold {
    font-size: var(--font-size-h6);
    font-weight: bold;
    line-height: 86%;
    letter-spacing: 0;
  }

  .text-p {
    font-size: var(--font-size-p);
    font-weight: 450;
    line-height: 125%;
    letter-spacing: 0;
  }

  .text-p-bold {
    font-size: var(--font-size-p);
    font-weight: bold;
    line-height: 125%;
    letter-spacing: 0;
  }

  .border-nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.28);
  }

  .border-row {
    border-top: 1px solid rgba(255, 255, 255, 0.28);
  }
}
